.pageContainer {
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    padding: 2rem;
    font-family: var(--font-cinzel);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.75rem;
  }

  .title{
    text-align: center;
    font-size: 1.75rem;

  }
  
  /* SCHEDULE */
  .scheduleToggle {
    display: block;
    margin: 0 auto 1rem;
    background-color: #e53e3e;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    font-family: var(--font-cinzel);
    border-radius: 3rem;
    width: 100%;
    max-width: 300px;
  }
  
  .scheduleToggle:hover {
    background-color: #c53030;
  }
  
  .scheduleWrapper {
    overflow-x: auto;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 4.5rem;
  }
  
  .scheduleTable {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
  }
  .subheading {
  max-width: 700px;
  display: flex;
  justify-self: center;
  color: #ed1c28;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
  
  
}
  .scheduleTable th,
  .scheduleTable td {
    border: 1px solid #444;
    padding: 0.75rem;
    text-align: center;
    min-width: 100px;
  }
  
  .scheduleTable thead {
    background-color: #333;
  }
  
  .scheduleTable tbody tr:nth-child(even) {
    background-color: #222;
  }
  
  .hours{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3rem;
  }

 .contactButton {
  background-color: #ed1c28;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}
.contactButton:hover {
    background-color: #c53030;
  }
.contactWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  /* overall page padding & heading */
  .pageContainer {
    padding: 1rem;
  }
  .heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .scheduleToggle {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    border-radius: 3rem;
  }

  .scheduleWrapper {
    margin-bottom: 2rem;
  }
  .scheduleTable th,
  .scheduleTable td {
    padding: 0.5rem;
    min-width: 80px;
    font-size: 0.9rem;
  }

  .hours {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  .contactWrapper {
    padding: 1rem 0;
  }
}
