.main {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-cinzel);
    
  }
  
  .main h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--font-cinzel); 
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
  }
  
  .main p {
    max-width: 600px;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  

  /*

  .flipButton {
  background-color:  #2f3490;
  color: white;
  border: 2px solid  #2f3490;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.flipButton:hover {
  background-color: #ed1c28;
  color: white;
  border: 2px solid #ed1c28;
}
*/

