
body {
    background-color: #000;
    color: #fff;
    font-family: var(--font-cinzel);
    overflow-x: hidden;
  }

  :root {

    /* colors */

    --red: #e53e3e;
    --red-hiver: #c53030;
    --blue: #313493;
    --light-text: #fff;
    --secondary-text: #ccc;
    
    /* fonts */
    --font-primary: var(--font-roboto), sans-serif;
    --font-logo: var(--font-cinzel), serif;
  }

  /* globals.css */

mux-player::part(control-bar),
mux-player::part(control-overlay),
mux-player::part(play-control),
mux-player::part(time-range),
mux-player::part(progress-bar),
mux-player::part(fullscreen-control),
mux-player::part(mute-control),
mux-player::part(captions-control),
mux-player::part(volume-control) {
  display: none !important;
}
